<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web Book Store</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/library.css}">
</head>
<body>
<div id="library-spa"
     th:attr="data-csrf-header=${_csrf.headerName},
                data-csrf-parameter-name=${_csrf.parameterName},
                data-csrf-token=${_csrf.token},
                data-action-url=${#servletContext.contextPath +
                    T(com.nix.libraryweb.controllers.constants.ViewUrl).SIGNUP.getUrl()}"></div>
<script th:src="@{/assets/js/library-app.js}"></script>
</body>
</html>