<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.css}">
    <title>Library Login Page</title>
</head>
<body>
<div id="signin-app"
     th:attr="data-csrf-header=${_csrf.headerName},
                data-csrf-parameter-name=${_csrf.parameterName},
                data-csrf-token=${_csrf.token},
                data-api-path=${@environment.getProperty('spring.data.rest.base-path')},
                data-action-url=${#servletContext.contextPath +
                    T(com.nix.libraryweb.controllers.constants.ViewUrl).SIGNIN.getUrl()}"></div>
<script th:src="@{/assets/js/signin-app.js}"></script>
</body>
</html>